.gitignore
settings.*
__pycache__/
phrase.txt
bot_logo.png
README.md
*.log
.DS_Store
*.db
*.bak
*.exe
*.com
.class
*.jar
build.properties
pom.xml
bin/
target/
dist/
META-INF/
.project
.classpath
.settings/
